
.logo {
  height: 70px;
  padding: 5px;
}

.banner {
  position: relative;
  display: inline-block;
  width: 100%;
}

.banner .title {
  position: absolute;
  z-index: 999;
  left: 0;
  right: 0;
  top: 50%;
  width: 100%;
  height: 100%;
  padding-left: 100px;
}

.portrait {
  width: 100%;
}

.title p {
  color: white;
  font-weight: 600;
  margin:0;
  font-size: 3vw;
}

.title span {
  background-color: #00AEEF;
  padding-left: 5px;
  padding-right: 5px;
}

.name {
  font-size: 5vw;
  font-weight: 900;
}

.title {
  clip-path: border-box;
}

.banner .blog-button {
  position: absolute;
  z-index: 999;
  left: 0;
  right: 0;
  top: 78%;
  width: 100%;
  height: 100%;
  padding-left: 100px;
}

.blog-button {
  color: white;
  font-size: 3vw;
  font-weight: 600;
}

.blog-button span {
  background-color: #16366F;
  padding: 5px 20px 5px 20px;
  border-radius: 10px;
}

.blog-button span:hover {
  background-color: white;
  color: #16366F;
  transition: 400ms;
}

.blog-button a {
  text-decoration: none;
  color: white;
}

.tagline {
  width: 100%;
  color: #00AEEF;
  background-color: white;
}

h2 {
  font-size: 2vw;
  padding-left: 100px;
  padding-right: 100px;

}

h1 {
  font-size: 3vw;
  font-weight: 900;
  padding-left: 100px;
  padding-right: 100px;

}

#mid-section {
  background-color: #00AEEF;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 10px;
}

.biog {
  width: 80%
  height: auto;
  background-color: #00AEEF;

}

.sudbury {
  width: 50%;
}

.action-shot {
  width: 100%;
  float: left;
  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 0;

}

.biog h1{
  font-weight: 900;
  color: white;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 0;
  margin-bottom: 10px;
  font-size: 3vw;
}

.bio {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  color: white;
  margin-top: 0;

}

.about-me {
  font-size: 50px;
}

.group-shot {
  padding: 0;
}

#lower-section {
  background-color: white;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
}

.lower-biog {
  width: 80%
  height: auto;
  background-color: white;
  font-size: 20px;
  color: #00AEEF;
  font-weight: 500;
  line-height: 1.5;
  padding-bottom: 10px;


}

.manifesto{
  width: 50%;
  float: right;
  padding-left: 20px;
  padding-top: 20px;

}

.group-shot {
  width: 100%;
}


.card {
  width: 100%;

}

.card-image {
  width: inherit;

}

.bottom-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.bottom-logo {
  width: 100%;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.bottom-logo img {
  width: 100%;
}

:root {
  --background: white;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
	margin: 0;
	background: white;
	font-family: 'Montserrat', sans-serif;
}

.content {
  height: 200vh;
  background-image: url(//unsplash.it/1000/1000);
  background-color: #333;
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
}

/* navigation styles start here */

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 2000;
  width: 100%;
  font-weight: 600;
  border-bottom: 2px solid #50C878
}

.spacer {
  width: 100%;
  height: 70px;
}

/* changed this from the tutorial video to
   allow it to gain focus, making it tabbable */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: #CCCCCC;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav svg {
  fill: #00AEEF;
}

svg:hover {
  fill: #50C878;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: #00AEEF;
  text-decoration: none;
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #50C878;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/*footer*/

footer {
  background: black;
  text-align: center;
  z-index: 2000;
  width: 100%;
  font-weight: 600;

}

.footer-logo {
  color: #CCCCCC
}

.footer-nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.footer-nav-toggle:focus ~ .footer-nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}




nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: #00AEEF;
  text-decoration: none;
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

footer nav a {
  color: white;
}

footer nav a:hover {
  color: #00AEEF;
}

.footer-nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.footer-nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.copyright {
  padding: 20px;
}


@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    align: left;
    height: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 100px;
  }

  .spacer {
    width: 100%;
    height: 70px;
  }

  nav {
    // all: unset; /* this causes issues with Edge, since it's unsupported */

    /* the following lines are not from my video, but add Edge support */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */

    grid-column: 3 / 5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 100px;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 1em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  /* footer*/

  .footer-nav-toggle-label {
    display: none;
  }

  footer {
    display: grid;
    grid-template-columns: 50fr auto minmax(600px, 3fr) 1fr;
  }

  .footer-logo {
    text-align: left;
    padding-left: 100px;
    margin: 0;


  }

  .copyright {
    padding-top: 30px;
    padding-bottom: 30px;

  }

}

@media screen and (max-width: 1200px){




}

@media screen and (max-width: 800px) {


  .banner .title {
    padding-left: 20px;
  }

  .banner .blog-button {
    padding-left: 20px;
    top: 80%;
  }

  h2 {
    font-size: 4vw;
    padding-left: 20px;
    padding-right: 20px;
  }

  h1 {
    font-size: 4.5vw;
    font-weight: 900;
    padding-left: 20px;
    padding-right: 20px;
  }

  .sudbury {
    width: 100%;
    float: none;
  }

  .bio{
    font-size: 18px;
    text-align: justify;
  }

  #mid-section {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .manifesto {
    padding-left: 0px;
  }

  .action-shot {
    padding: 0;
  }


  .biog h1 {
    font-size: 8vw;
    padding-left; 0;
    margin-left: 0px;
    margin-bottom: 10px;
  }

  .biog {
    width: 100%;
  }

  .about-me {
    padding-left: 0;
    margin-left: 0;
    text-align: center;
  }

  .manifesto {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    float: none;

  }

  #lower-section {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
  }

  .lower-biog {
    width: 100%;
    font-size: 18px;
    text-align: justify;
    padding: 0;
  }

  .group-shot {
    padding-left: 0;
  }

}

@media screen and (max-width: 700px) {



}

@media screen and (max-width: 500px) {

  .portrait {
    height: 88vw;
    object-fit: cover;
    object-position: 65% 35%;
  }

  .banner .title {
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    top: 64%;
    bottom: 0;
    padding-left: 20px;
  }

  .title p {
    font-size: 3.6vw;
  }

  .name {
    font-size: 6vw;
  }

  .banner .blog-button {
    top: 86% !important;
  }

  .blog-button {
    font-size: 4vw;
  }

  h2 {

    padding-left: 20px;
    padding-right: 20px;
  }

  h1 {

    font-weight: 900;
    padding-left: 20px;
    padding-right: 20px;
  }

}

@media screen and (max-width: 320px) {



  .banner .title {
    padding-left: 20px;
  }


}
